# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
.vscode

# macOS system files
.DS_Store

**/generated/jaxb/**

.env

.tool-versions

# Spring local application config
application-local.yaml